.transparent {
    background-color: rgba(13, 20, 41, 0.6);
}

.background {
    background-repeat: no-repeat;
    background-color: transparent !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.delay-row {
    padding: 0 15px 0 15px;
}

.polygon {
    padding: 15px 0 15px 0;
}

.info-subtitle {
    padding-left: 15px;
}

.partial-order-row {
    padding: 30px 0 30px 15px;
}

.partial-order-group:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.partial-order-group:hover .event {
    stroke: black;
    stroke-width: 2px;
}

.case-info {
    padding: 0 0 10px 0;
    min-width: 150px;
    max-width: 150px;
}

.inner-case-info {
    padding-right: 0;
    min-width: 150px;
    max-width: 150px;
}

.scrollable-inner {
    overflow: scroll;
    overflow-y: hidden;
}

.scrollable-inner-delay {
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}

.info-row {
    padding-right: 15px;
}

.purple-dark {
    background-color: rgb(139, 2, 194);
    color: white;
    border-color: black;
}

.text-purple {
    color: rgb(139, 2, 194);
}

.tab-headline {
    padding-left: 15px;
    color: #00529F;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.centered {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* .shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(256, 256, 256, 0.3) 1px 2px 3px;
}*/
.custom-shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.custom-text-shadow {
    text-shadow: 2px 2px 30px #000000;
}

.custom-container {
    margin: 10px auto 0;;
    height: 22vh;
    border-radius: 10px 10px 10px 10px;
}

#confirm-final.custom-container {
    margin: 10px auto 0;;
    height: 27vh;
    border-radius: 10px 10px 10px 10px;
}

#export-final.custom-container {
    margin: 10px auto 0;
    height: 20vh;
    border-radius: 10px 10px 10px 10px;
}

.days-width {
    width: 80px;
}

.activity-margin {
    margin-right: 270px;
}

#header {
    border-radius: 0 0 25px 25px;
    padding: 20px;
    width: auto;
    height: 120px;
    margin-bottom: 20px;
}

#save, #discard, #add_delay {
    width: 150px;
}

.picker {
    color: black;
}

.p.info {
    text-align: justify;
    text-justify: inter-word;
}