.transparent {
    background-color: rgba(13, 20, 41, 0.6);
}

.background {
    background-repeat: no-repeat;
    background-color: transparent !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.partial-order-row {
    padding: 30px 30px 30px 0;
}

.case-info {
    padding: 0;
    min-width: 80px;
    max-width: 80px;
}

.scrollable-inner {
    overflow: scroll;
    overflow-y: hidden;
}

.scrollable-inner-delay {
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.purple-dark {
    background-color: rgb(139, 2, 194);
    color: white;
    border-color: black;
}

.text-purple {
    color: rgb(139, 2, 194);
}

.tab-headline {
    color: #00529F;
}

.centered {
    text-align: center;
}

/* .shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(256, 256, 256, 0.3) 1px 2px 3px;
}*/
.custom-shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.custom-text-shadow {
    text-shadow: 2px 2px 30px #000000;
}

.custom-container {
    margin: 0 auto;
    margin-top: 10px;;
    height: 22vh;
    border-radius: 10px 10px 10px 10px;
}

#confirm-final.custom-container {
    margin: 0 auto;
    margin-top: 10px;;
    height: 27vh;
    border-radius: 10px 10px 10px 10px;
}

#export-final.custom-container {
    margin: 0 auto;
    margin-top: 10px;
    height: 20vh;
    border-radius: 10px 10px 10px 10px;
}

.days-width {
    width: 80px;
}

.activity-margin {
    margin-right: 270px;
}

.name-margin {
    margin-right: 65px;
}

#header {
    border-radius: 0 0 25px 25px;
    padding: 20px;
    width: auto;
    height: 120px;
    margin-bottom: 20px;
}

#save, #discard, #add_delay {
    width: 150px;
}

.picker {
    color: black;
}
