.transparent {
    background-color: rgba(13, 20, 41, 0.6);
}

.background {
    background-image: url("../images/7.jpg");
    background-color: transparent !important
}

.tab-subtitle {
    color: black;
}

.scrollable-outer {
    background-color: rgba(0%, 0%, 0%, 0.4);
    width: 1250px;
    max-height: 490px;
    overflow: scroll;
    border-radius: 5px 5px 5px 5px;
}

.scrollable-inner {
    background-color: rgba(0%, 0%, 0%, 0.4);
    height: 150px;
    overflow: scroll;
    overflow-y: hidden;
}

.green {
    color: lawngreen;
}

.black {
    color: black;
}

.white {
    color: white;
}

.red {
    color: red;
}

.purple-dark {
    background-color: rgb(139, 2, 194);
    color: white;
    border-color: black;
}

.centered {
    text-align: center;
}

.shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

/* delays css*/

.container {
    margin: 0 auto;
    margin-top: 50px;;

    height: 80vh;
    background-color: rgba(13, 20, 41, 0.7);
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px #000000 inset,
    -1px -1px 2px #000 inset;
    border-radius: 3px/6px;
}

.container-delay {
    margin: 0 auto;
    margin-top: 10px;;

    height: 20vh;
    background-color: rgba(13, 20, 41, 0.7);
    border: 1px solid #000;
    box-shadow: 1px 1px 2px #000 inset,
    -1px -1px 2px #000 inset;
    border-radius: 3px/6px;
}

.container-confirm-combination {
    margin: 0 auto;
    margin-top: 10px;


    height: 30vh;
    background-color: rgba(13, 20, 41, 0.7);
    border: 1px solid #000;
    box-shadow: 1px 1px 2px #000 inset,
    -1px -1px 2px #000 inset;
    border-radius: 3px/6px;
}

.days-width {
    width: 80px;
}

.activity-margin {

    margin-right: 270px;
}

.name-margin {

    margin-right: 65px;
}

#header {

    border-radius: 0px 0px 25px 25px;
    /*background-image: linear-gradient(rgba(19, 80, 124, 1), rgba(46, 120, 159, 0.8));*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    padding: 20px;
    width: auto;
    height: 120px;
    margin-bottom: 20px;
}

#save, #discard, #add_delay {
    width: 150px;
}