.transparent {
    background-color: rgba(13, 20, 41, 0.6);
}

.background {
    /*background-image: url("../images/.jpg");*/
    background-repeat: no-repeat;
    background-color: transparent !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scrollable-outer {

    background-color: rgba(256%, 256%, 256%, 0.4);
    /*background-color: rgba(0%, 0%, 0%, 0.6);*/
    width: 1250px;
    overflow: scroll;
    border-radius: 5px 5px 5px 5px;
}

.scrollable-inner {

    /*background-color: rgba(256%, 256%, 256%, 0);*/
    /*background-color: rgba(0%, 0%, 0%, 0);*/
    overflow: scroll;
    overflow-y: hidden;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

.purple-dark {
    background-color: rgb(139, 2, 194);
    color: white;
    border-color: black;
}

.tab-headline {
    color: #00529F;
}

.centered {
    text-align: center;
}

/* .shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(256, 256, 256, 0.3) 1px 2px 3px;
}*/
.custom-shadow {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

.custom-text-shadow {
    text-shadow: 2px 2px 30px #000000;
}

/* delays css*/

.container {
    margin: 0 auto;
    margin-top: 50px;;

    height: 80vh;
    background-color: rgba(13, 20, 41, 0.7);
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px #000000 inset,
    -1px -1px 2px #000 inset;
    border-radius: 3px/6px;
}

.container-delay {
    margin: 0 auto;
    margin-top: 10px;;

    height: 22vh;
    background-color: rgba(256, 256, 256, 0.4);
    /*background-color: rgba(0, 0, 0, 1);*/
    border-radius: 10px 10px 10px 10px;
}

.container-confirm-combination {
    margin: 0 auto;
    margin-top: 10px;


    height: 30vh;
    background-color: rgba(256, 256, 256, 1);
    /*background-color: rgba(0, 0, 0, 1);*/
    border-radius: 10px 10px 10px 10px;
}

.days-width {
    width: 80px;
}

.activity-margin {

    margin-right: 270px;
}

.name-margin {

    margin-right: 65px;
}

#header {

    border-radius: 0px 0px 25px 25px;
    background-color: rgba(256, 256, 256, 0.85);

    /*background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
    background-image: linear-gradient(150deg, rgba(237, 48, 101, .8), rgba(65, 98, 173, .8), rgba(80, 187, 117, .8));*/
    padding: 20px;
    width: auto;
    height: 120px;
    margin-bottom: 20px;
}

#save, #discard, #add_delay {
    width: 150px;
}

.picker {
    color: black;
    background-color: rgba(256, 256, 256, 0.1);
}
