.save-and-export {
    padding-left: 15px;
}

.delay-row {
    padding: 15px 15px 10px 15px;
}

.polygon {
    padding: 15px 0 15px 0;
}

.info-subtitle {
    padding-left: 15px;
}

.partial-order-row {
    padding: 30px 0 30px 15px;
}

.partial-order-group:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.partial-order-group:hover .event {
    stroke: black;
    stroke-width: 2px;
}

.case-info {
    padding: 0 0 10px 0;
    min-width: 150px;
    max-width: 150px;
}

.inner-case-info {
    padding-right: 0;
    min-width: 150px;
    max-width: 150px;
}

.info-row {
    padding-right: 15px;
}

.scrollable {
    overflow: scroll;
    height: auto;
    width: auto;
    min-width: 100px;
    max-height: 100px;
    overflow-y: auto;
}

#border-custom {
    border-radius: 10px 10px 10px 10px;
    padding: 2px 2px 2px 10px;
}

.scrollable-inner {
    overflow: scroll;
    overflow-y: hidden;
}

.purple-dark {
    background-color: rgb(139, 2, 194);
    color: white;
    border-color: black;
}

.tab-headline {
    padding-left: 15px;
    color: #00529F;
}

#spinner {
    position: relative;
    margin: 150px auto;
}

.centered {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.custom-container {
    margin: 10px auto 0;
    border-radius: 10px 10px 10px 10px;
}

#confirm-final.custom-container {
    margin: 10px auto 0;
    border-radius: 10px 10px 10px 10px;
}

#export-final.custom-container {
    margin: 10px auto 0;
    height: 15vh;
    border-radius: 10px 10px 10px 10px;
}

.days-width {
    width: 80px;
}

#add_delay, #proceed-btn {
    width: 150px;
}

#save, #discard {
    width: 100px;
}

.picker {
    color: black;
}

#proceed-div, #display-delay-div {
    visibility: hidden;
}

#export-btn {
    width: 75px;
    height: 38px;
    border-color: rgba(103, 0, 181, 0.1);
}

#export-btn:hover {
    background-color: rgba(103, 0, 181, 1);
    color: white;
}

#export-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(103, 0, 181, 0.4);
}
