<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Partial order visualization demo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script type="text/javascript" src="../static/js/shapes.js" defer></script>
</head>

<body>
<p>This is {{ data }}</p> <!--This p tag is just used to show how django templating language is used-->
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
<div class="rect"></div>
</body>

</html>