{% extends 'partial_order/partial_order_processing.html' %}
{% load mathfilters %}

{% block script %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../static/js/utilities.js" defer></script>
    <script type="text/javascript" src="../../static/js/totalOrders.js" defer></script>
    <script type="text/javascript">

        let ids = ["groups_tab", "combinations_tab", "delays_tab", "final_tab"];
        ids.forEach(function (id) {
            let element = document.getElementById(id);
            element.classList.remove("active");
        });
        let element = document.getElementById("combinations_tab");
        element.classList.add("active");

    </script>

{% endblock %}

{% block tab_content %}
    {{ groupId|json_script:"groupId" }}
    {{ combinations|json_script:"combinations" }}
    {{ caseIds|json_script:"caseIds" }}
    <div class="tab-pane fade show active">
        <div class="form-row justify-content-center info-row">
            <div class="col">
                <h4 class="mt-4 tab-headline">Please select a combination</h4>
            </div>
            <div class="col mt-3">
                <button type="button" class="btn btn-info float-right" data-toggle="modal"
                        data-target="#exampleModalLong">Info
                </button>
            </div>
        </div>
        <h6 class="mt-4 info-subtitle">You can modify the combination by adding delays in the
            <i>'Add Delays'</i> tab. </h6>
        <br>

        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" id="spinner"></div>
        </div>

        <div class="partial-order-groups" hidden>
            {% for combination in combinations %}
                <div class="container-fluid">
                    <div class="row flex-nowrap partial-order-row partial-order-group">
                        <div class="col-1 align-self-center case-info">
                            <div class="row">
                                <div class="col-12 inner-case-info">
                                    {{ combination.frequency }} {{ combination.frequency|pluralize:"case,cases" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 inner-case-info">
                                    <!-- Fraction of cases is multiplied by 100 to get the percentage value and rounded to 2 decimal places -->
                                    {{ combination.frequency |div:totalNumberOfTraces|mul:100|floatformat:2 }} % of the
                                    log
                                </div>
                            </div>
                        </div>
                        <div class="scrollable-inner">
                            <div class="polygon" id="combination-{{ forloop.counter0 }}"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Info Popup Section -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Combinations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body  text-justify">
                        <h6>What are Combinations?</h6>
                        The <i>combinations</i> displayed in this page are all the possible ordered
                        combinations that can be generated using the activities present in the selected partial
                        order group. We do this to eliminate the <i>stacked activities</i>, and hence partial
                        orders.<br>
                        For a given partial order group containing a total of <b>'n'</b> stacked activities,
                        there are <b>n!</b> number of possible combinations.
                        <br><br>
                        <h6>Example:</h6>
                        <img src="../../static/images/info/partial_order_groups/groups.PNG" alt="Partial Order Groups"
                             width="750" height="400"><br>
                        On selecting the first partial order group from the previous tab (as seen in the figure above),
                        we get the following possible combinations:<br><br>
                        <img src="../../static/images/info/combinations/combinations.PNG" alt="Combinations"
                             width="700" height="250"><br>
                        The total number of stacked activities in the selected partial order group is 2, and hence we
                        get 2! = 2 combinations.<br><br>
                        The <i>statistics</i> on the left gives information about the existence of that particular
                        combination in the event log. Information like number and percentage of traces having the same
                        combination are displayed. A combination is nothing but a variant. Since, every possible
                        combination is generated here, there can be combinations/variants (hence also traces) which
                        may not be present in the event log. In such cases the the number and percentage of traces are
                        simply 0, which is true in this case. There does not exist a complete ordered trace <i>< a, b,
                        c, e, f ></i> in the event log.<br><br>
                        <h6>Further Steps:</h6>
                        Each combination is selectable (grey color appears when hovered on the combination; can be
                        seen in the figure). Selecting a combination will automatically redirect the application to the
                        <b>Add Delays</b> tab, where delays can be added to the activities, so that the activities can
                        be ordered along with the modified timestamps attached to them.

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
