{% extends 'partial_order/partial_order_processing.html' %}

{% block script %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../static/js/utilities.js" defer></script>
    <script type="text/javascript" src="../../static/js/delays.js" defer></script>
    <script type="text/javascript">

        let ids = ["groups_tab", "combinations_tab", "delays_tab", "final_tab"];
        ids.forEach(function (id) {
            let element = document.getElementById(id);
            element.classList.remove("active");
        });
        let element = document.getElementById("delays_tab");
        element.classList.add("active");

        function displayDelay() {

            let days = document.getElementById("days").value
            let hours = document.getElementById("hours").value
            let minutes = document.getElementById("minutes").value
            let seconds = document.getElementById("seconds").value
            if (days == "")
                days = 0;
            document.getElementById("added-delay").innerHTML = days + " days, " + hours + " hours, " + minutes + " minutes, " + seconds + " seconds.";
        }

    </script>
{% endblock %}

{% block tab_content %}
    {{ combination|json_script:"combination" }}
    <div class="tab-pane fade show active">
        <div class="form-row justify-content-center mb-2 info-row">
            <div class="col">
                <h4 class="mt-3 tab-headline">Add Delays to the Combination</h4>
            </div>
            <div class="col mt-3">
                <button type="button" class="btn btn-info float-right" data-toggle="modal"
                        data-target="#exampleModalLong">Info
                </button>
            </div>
        </div>
        <br>

        <div class="delay-row">
            <div class="scrollable-inner">
                <div id="combination"></div>
            </div>
        </div>

        <br>
        <div class="container justify-content-center">
            <div class="form-row justify-content-center mt-3">
                <div class="col-xs-3 mt-2 days-width">
                    <label class="text-dark" for="exampleFormControlTextarea1"> <b> Days </b> </label>
                    <input type="number" min="0" class="form-control picker" placeholder="0" id="days">
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Hours </b> </label>
                    <select class="form-control picker" id="hours">

                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>

                    </select>
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Minutes </b> </label>
                    <select class="form-control picker" id="minutes">

                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        <option>32</option>
                        <option>33</option>
                        <option>34</option>
                        <option>35</option>
                        <option>36</option>
                        <option>37</option>
                        <option>38</option>
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                        <option>44</option>
                        <option>45</option>
                        <option>46</option>
                        <option>47</option>
                        <option>48</option>
                        <option>49</option>
                        <option>50</option>
                        <option>51</option>
                        <option>52</option>
                        <option>53</option>
                        <option>54</option>
                        <option>55</option>
                        <option>56</option>
                        <option>57</option>
                        <option>58</option>
                        <option>59</option>
                        <option>60</option>

                    </select>
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Seconds </b> </label>
                    <select class="form-control picker" id="seconds">

                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        <option>32</option>
                        <option>33</option>
                        <option>34</option>
                        <option>35</option>
                        <option>36</option>
                        <option>37</option>
                        <option>38</option>
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                        <option>44</option>
                        <option>45</option>
                        <option>46</option>
                        <option>47</option>
                        <option>48</option>
                        <option>49</option>
                        <option>50</option>
                        <option>51</option>
                        <option>52</option>
                        <option>53</option>
                        <option>54</option>
                        <option>55</option>
                        <option>56</option>
                        <option>57</option>
                        <option>58</option>
                        <option>59</option>
                        <option>60</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-2 mt-4 centered">
            <button type="button" class="btn btn-dark" id="add_delay" onclick="displayDelay(); visualizeDelay();">
                Add Delay
            </button>
        </div>
        <div class="form-row mt-5 justify-content-center centered">
            <div class="col-8">
                <label class="text-dark" for="exampleFormControlSelect1"> <b> Added delay (delta): <p
                        class="text-success" id="added-delay"></p></b> </label>

            </div>
        </div>
    </div>
    </div>
    <div id="text-width-calculation"></div>

    <!-- Info Popup Section -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Delays</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock %}