{% extends 'partial_order/partial_order_processing.html' %}

{% block script %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../static/js/utilities.js" defer></script>
    <script type="text/javascript" src="../../static/js/delays.js" defer></script>
    <script type="text/javascript">
        let groupId = '{{ groupId }}'
        const caseIds = JSON.parse(document.getElementById('caseIds').textContent);
        document.getElementById('combinations_tab').href = `combinations/${groupId}`

        let ids = ["groups_tab", "combinations_tab", "delays_tab", "final_tab"];
        ids.forEach(function (id) {
            let element = document.getElementById(id);
            element.classList.remove("active");
        });
        let element = document.getElementById("delays_tab");
        element.classList.add("active");

        function displayDelay() {

            let days = document.getElementById("days").value
            let hours = document.getElementById("hours").value
            let minutes = document.getElementById("minutes").value
            let seconds = document.getElementById("seconds").value
            if (days === "")
                days = 0;
            document.getElementById("added-delay").innerHTML = days + " days " + hours + " hours " + minutes + " minutes " + seconds + " seconds";
        }

        function show_proceed_div() {
            document.getElementById("proceed-div").style.visibility = "visible"
        }

        function redirectToFinalOrder() {
            let days = document.getElementById("days").value
            if (days === "")
                days = 0
            else
                days = parseInt(days)
            let hours = parseInt(document.getElementById("hours").value)
            let minutes = parseInt(document.getElementById("minutes").value)
            let seconds = parseInt(document.getElementById("seconds").value)

            let delay = days * 86400 + hours * 3600 + minutes * 60 + seconds
            let data = {
                'groupId': JSON.stringify(groupId),
                'combination': JSON.stringify(combination),
                'caseIds': JSON.stringify(caseIds),
                'delay': delay
            }

            redirectPost('/partial-order/final-order', data)
        }
    </script>
{% endblock %}

{% block tab_content %}
    {{ combination|json_script:"combination" }}
    {{ caseIds|json_script:"caseIds" }}
    <div class="tab-pane fade show active">
        <div class="form-row justify-content-center mb-2 info-row">
            <div class="col">
                <h4 class="mt-3 tab-headline">Add Delays to the Combination</h4>
            </div>
            <div class="col mt-3">
                <button type="button" class="btn btn-info float-right" data-toggle="modal"
                        data-target="#exampleModalLong">Info
                </button>
            </div>
        </div>
        <br>

        <div class="delay-row">
            <div class="scrollable-inner">
                <div id="combination"></div>
            </div>
        </div>

        <div class="container justify-content-center">
            <div class="form-row justify-content-center mt-3">
                <div class="col-xs-3 mt-2 days-width">
                    <label class="text-dark" for="exampleFormControlTextarea1"> <b> Days </b> </label>
                    <input type="number" min="0" class="form-control picker" placeholder="0" id="days">
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Hours </b> </label>
                    <select class="form-control picker" id="hours">

                        <option>0</option>
                        {% with ''|center:24 as range %}
                            {% for _ in range %}
                                <option>{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endwith %}

                    </select>
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Minutes </b> </label>
                    <select class="form-control picker" id="minutes">

                        <option>0</option>
                        {% with ''|center:60 as range %}
                            {% for _ in range %}
                                <option>{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endwith %}

                    </select>
                </div>
                <div class="col-xs-3 mt-2">
                    <label class="text-dark" for="exampleFormControlSelect1"> <b> Seconds </b> </label>
                    <select class="form-control picker" id="seconds">

                        <option>0</option>
                        {% with ''|center:60 as range %}
                            {% for _ in range %}
                                <option>{{ forloop.counter }}</option>
                            {% endfor %}
                        {% endwith %}

                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-2 mt-4 centered">
            <button type="button" class="btn btn-dark" id="add_delay"
                    onclick="displayDelay(); visualizeDelay(); show_proceed_div();">
                Add Delay
            </button>
        </div>
        <div id="proceed-div">
            <div class="form-row mt-4 justify-content-center centered">
                <div class="col-8">
                    <label class="text-dark"> <b> Added delay (delta): <p
                            class="text-success" id="added-delay"></p></b> </label>
                </div>
            </div>
            <div class="form-row mt-2 justify-content-center centered">
                <label class="text-dark"><b>Click proceed if you are fine with the added delay </b> </label>
            </div>
            <div class="form-row mt-4 justify-content-center centered">
                <button type="button" class="btn btn-primary" id="proceed-btn" onclick="redirectToFinalOrder()">
                    Proceed
                </button>
            </div>
        </div>

    </div>
    <div id="text-width-calculation"></div>

    <!-- Info Popup Section -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Delays</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-justify">
                    In this tab the user can delays to the activities. These delays are then added to each trace that is
                    present in the combination/variant displayed. Hence we will now have successfully converted a
                    partial order into a complete order.
                    <br><br>
                    The delays can be added using the provided input fields:<br><br>
                    <div class="text-center">
                        <img src="../../media/info/add_delays/delay.PNG" alt="Partial Order Groups"
                             width="330" height="150"><br>
                    </div>
                    The following section will show the webpage before and after clicking the 'Add Delay'
                    button:<br><br>
                    <h6>Before adding delay:</h6>
                    <img src="../../media/info/add_delays/before_delay_combination.PNG" alt="Partial Order Groups"
                         width="1110" height="95"><br>
                    <div class="text-center">
                        <img src="../../media/info/add_delays/delay.PNG" alt="Partial Order Groups"
                             width="330" height="150"><br>
                    </div>
                    <h6>After adding delay:</h6>
                    <img src="../../media/info/add_delays/after_delay_combination.PNG" alt="Partial Order Groups"
                         width="1100" height="95"><br>
                    <div class="text-center">
                        <img src="../../media/info/add_delays/after_delay.PNG" alt="Partial Order Groups"
                             width="370" height="330"><br><br>
                    </div>
                    The webpage displays the added delay in green as seen in the above image. This delay is called
                    delta. A multiple of this delta is added accordingly using an algorithm to make sure all the
                    activities
                    now have unique time stamps (e.g., +1 delta, +2 delta). The amount of added delta can also be
                    visualized in the image.<br><br>
                    <h6>Further Steps:</h6>
                    If the user is happy with the added delays, they can click on the <i>proceed</i> button,
                    which will automatically redirect the application to the <b>Final Order</b> tab. This tab displays
                    the combination and all traces to which the delay was added and also displays the respective time
                    stamps. The user also has the option to save and export the modified event log.
                </div>
            </div>
        </div>
    </div>
{% endblock %}