{% extends 'partial_order/partial_order_processing.html' %}
{% load mathfilters %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/utilities.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'js/saveAndExport.js' %}" defer></script>
    <script type="text/javascript">
        let groupId = '{{ groupId }}'
        let combinationId = '{{ combinationId }}'
        document.getElementById('combinations_tab').href = `/partial-order/combinations/${groupId}`

        if (combinationId !== 'None') {
            document.getElementById('delays_tab').href = `/partial-order/delays/${groupId}/${combinationId}`
        } else {
            document.getElementById('delays_tab').href = `/partial-order/delays/${groupId}`
        }

        let ids = ["groups_tab", "combinations_tab", "delays_tab", "final_tab"];
        ids.forEach(function (id) {
            let element = document.getElementById(id);
            element.classList.remove("active");
        });
        let element = document.getElementById("final_tab");
        element.classList.add("active");

        function discarded() {
            if (confirm("Doing this will discard all the changes for the selected group so far, do you wish to proceed?"))
                location.href = '/partial-order/groups'
        }

    </script>
{% endblock %}

{% block tab_content %}
    {{ groupId|json_script:"groupId" }}
    {{ combination|json_script:"combination" }}
    {{ caseIds|json_script:"caseIds" }}
    {{ delay|json_script:"delay" }}
    <div class="tab-pane fade show active">
        <div class="form-row justify-content-center mb-2 info-row">
            <div class=" col">
                <h4 class="mt-4 tab-headline">Confirm the Order</h4>
            </div>
            <div class="col mt-3">
                <div>
                    <button type="button" class="btn btn-info float-right" data-toggle="modal"
                            data-target="#exampleModalLong">Info
                    </button>
                    <div class="float-right mr-2">
                        <a href="/partial-order/download-modified-xes">
                            <input type="submit" class="btn purple-dark" name="groupButton" value="Export"
                                   id="export-btn" title="Export the XES file of the modified event log"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if groupId is None %}
            <p class="text-danger info-subtitle"><b>You have not selected a partial order group. Go to the 'Partial
                Order
                Groups' tab
                to select one and continue from there!</b></p>
        {% elif combinationId is None %}
            <p class="text-danger info-subtitle"><b>You have not selected a combination. Go to the 'Combinations' tab
                to select one and continue from there!</b></p>
        {% elif delay is None %}
            <p class="text-danger info-subtitle"><b>You have not set a delay. Go to the 'Delay' tab
                to set it!</b></p>
        {% else %}

            <h6 class="text-dark mt-2 save-and-export">Combination:</h6>

            <div class="delay-row">
                <div class="scrollable-inner">
                    <div id="combination"></div>
                </div>
            </div>

            <br>
            <div class="row save-and-export">
                <div class="col centered">
                    <h6 class="text-dark">
                        {% if caseIds|length == 1 %}
                            The traces with following case ID will be modified:
                        {% else %}
                            The traces with the following case IDs will be modified:
                        {% endif %}</h6>
                </div>
            </div>
            <br>
            <div class="row justify-content-center centered">
                <div id="border-custom">
                    <div class="scrollable">
                        {% for caseId in caseIds %}
                            {{ ''|linebreaks }}
                            <option>{{ caseId }}</option>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <br>
            <div class="custom-container centered" id="confirm-final">
                <input type="submit" class="btn btn-success centered m-1" name="groupButton" value="Save"
                       id="save" onclick="save()" title="'Save' will add the combination to the
                    original log"/>
                <input type="submit" class="btn btn-danger centered m-1" name="groupButton" value="Discard"
                       id="discard" onclick="discarded()" title="'Discard' will delete the combination."/>
                <br><br>
                <p id="end" hidden>To proceed further you can manually go to the 'Partial Order Groups'
                    tab. </p>
            </div>
            <br>
        {% endif %}
    </div>
    <div id="text-width-calculation"></div>

    <!-- Wait until modified -->
    <div class="modal fade hide bd-example-modal-lg" id="flag_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center centered">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please wait...</h5>
                </div>
                <div class="d-flex justify-content-center centered">
                    <div class="spinner-border text-primary mt-3"></div>
                </div>
                <div class="modal-body justify-content-center centered">
                    Please wait until the dialog box automatically disappears.
                </div>
            </div>
        </div>
    </div>

    <!-- Export Alert -->
    <div class="modal fade bd-example-modal-lg" id="exportCautionModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Export as XES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    There are no partial orders left in the file. Consider Exporting the XES file, so that you dont
                    loose progress.
                </div>
            </div>
        </div>
    </div>

    <!-- Info Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Save and Export</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    In this tab the user can see a summary of to which case ids will the delay be added. There is an
                    option to save or discard changes.
                    <br>The page on load must look similar to the image below:<br><br>
                    <div class="text-center">
                        <img src="{% static 'images/info/save_and_export/page.PNG' %}"
                             alt="Save and Export page"
                             class="text-center" width="780" height="320">
                    </div>
                    <br>
                    The user can see the case ids that will modified (to which the delay will be added). They have the
                    option to save the delays to proceed with the modification by clicking the <i>Save</i> button or can
                    discard all the changes using the <i>Discard</i> button. Clicking the discard button will
                    automatically redirect you to the <i>Partial Order Groups</i> tab. This can be visualized below.
                    <br>
                    <div class="text-center">
                        <img src="{% static 'images/info/save_and_export/case_id_and_save.PNG' %}"
                             alt="Case IDs, Save, and Discard"
                             class="text-center" width="480" height="280">
                    </div>
                    <br>
                    The user can export the modified log using the <i>Export</i> button in the top right corner to the
                    left of the <i>Info</i> button as seen below. The XES file is automatically downloaded on clicking
                    the export button.
                    <br><br>
                    <div class="text-center">
                        <img src="{% static 'images/info/save_and_export/export.PNG' %}"
                             alt="Export Button"
                             class="text-center" width="200" height="70">
                    </div>
                    <br>
                    <i><b>Note:</b> After saving the order, the 'Save' and 'Discard' buttons are disabled and a copy of
                        the modified log is created in the 'Event Data' pane where files are uploaded and set. To
                        proceed further you can manually go to the 'Partial Order Groups' tab.</i>
                </div>
            </div>
        </div>
    </div>


{% endblock %}