{% extends 'partial_order/partial_order_processing.html' %}
{% load mathfilters %}

{% block script %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-polygon.v2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../../static/js/utilities.js" defer></script>
    <script type="text/javascript" src="../../static/js/finalOrder.js" defer></script>
    <script type="text/javascript">

        let ids = ["groups_tab", "combinations_tab", "delays_tab", "final_tab"];
        ids.forEach(function (id) {
            let element = document.getElementById(id);
            element.classList.remove("active");
        });
        let element = document.getElementById("final_tab");
        element.classList.add("active");

        function discarded() {
            if (confirm("Doing this will discard all the changes and delete modifications so far, do you wish to proceed?"))
                location.href = 'groups'
        }

    </script>
{% endblock %}

{% block tab_content %}
    {{ groupId|json_script:"groupId" }}
    {{ combination|json_script:"combination" }}
    {{ caseIds|json_script:"caseIds" }}
    {{ delay|json_script:"delay" }}
    <div class="tab-pane fade show active">
        <div class="form-row justify-content-center mb-2 info-row">
            <div class=" col">
                <h4 class="mt-4 tab-headline">Confirm the Order</h4>
            </div>
            <div class="col mt-3">
                <div class="row">
                    <div class="col-9">

                    </div>
                    <div class="col-3">
                        <a href="/partial-order/download-modified-xes">
                            <input type="submit" class="btn purple-dark float-left" name="groupButton" value="Export"
                                   id='export' onclick="" title="Export the XES file of the modified event log"/>
                        </a>
                        <button type="button" class="btn btn-info float-right" data-toggle="modal"
                                data-target="#exampleModalLong">Info
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="text-dark mt-2 save-and-export">Combination:</h6>

        <div class="delay-row">
            <div class="scrollable-inner">
                <div id="combination"></div>
            </div>
        </div>
        <br>
        <div class="row save-and-export">
            <div class="col centered">
                <h6 class="text-dark">
                    {% if caseIds|length == 1 %}
                        The following case will be modified:
                    {% else %}
                        The following {{ caseIds|length }} cases will be modified:
                    {% endif %}</h6>
            </div>
        </div>
        <br>
        <div class="row save-and-export justify-content-center centered">
            <div class="scrollable">
                {% for caseId in caseIds %}
                    {{ caseId|linebreaks }}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <p>{{ flag }}</p>
        </div>
        <br>
        <div class="custom-container centered" id="confirm-final">
            <input type="submit" class="btn btn-success centered mr-4" name="groupButton" value="Save"
                   id='save' onclick="saved()" title="Save will add the combination to the
                    original log"/>
            <input type="submit" class="btn btn-danger centered ml-4" name="groupButton" value="Discard"
                   id='discard' onclick="discarded()" title="Discard will delete the combination."/>
            <br><br>
        </div>
        <br>


    </div>
    <div id="text-width-calculation"></div>
    <!-- Wait until modified -->
    <div class="alert alert-primary" role="alert" id="alert">
        Please wait, your changes are being saved.
    </div>
    <div class="modal fade bd-example-modal-lg" id="flag_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Export as XES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please wait until the dialog box automatically disappears.
                </div>
            </div>
        </div>
    </div>


    <!-- Export Alert -->
    <div class="modal fade bd-example-modal-lg" id="exportCautionModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Export as XES</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    There are no partial orders left in the file. Consider Exporting the XES file, so that you dont
                    loose progress.
                </div>
            </div>
        </div>
    </div>
    <!-- Info Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Save and Export</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>


{% endblock %}